<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <#include "*/common/html/pageHeader.html" />
</head>
<body>
<div class="m-main">
    <form id="form" method="post" action="${base!}/index">
        <h3>用户登录</h3>
        <div>
            <span style="color:red;font-weight:bold;">${error!}</span>
        </div>
        <label for="username">* 用户名:</label> <input type="text" id="username" placeholder="请输入用户名" autocomplete="false" required/>
        <label for="password">* 密码:</label> <input type="password" id="password" required/>
        <button id="submit">登录</button>
    </form>
</div>
<#include "*/common/html/pageFooter.html" />
<script type="text/javascript">
    $(function () {
       $("#submit").click(function (){
           $("#form").submit();
       });
    });
</script>
</body>
</html>
