<meta charset="utf-8">
<title><@webfinal.m 'webfinal.app.name'/></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="description" content="<@webfinal.m 'webfinal.app.name'/>">
<meta name="author" content="chenyang">
<meta name="keywords" content="<@webfinal.m 'webfinal.app.name'/>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel="shortcut icon" href="${base!}/static/img/favicon.ico" />-->
<link href="${base!}/static/libs/vendor/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/vendor/metronic/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/vendor/metronic/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="${base!}/static/libs/assets/jquery.dataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/assets/jquery.dataTables/css/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/assets/jquery.dataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/css/custom.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/vendor/layer/theme/default/layer.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/assets/bootstrap-wizard/jquery.bootstrap.wizard.min.css" rel="stylesheet" type="text/css" />
<link href="${base!}/static/libs/assets/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css">
<link href="${base!}/static/libs/assets/jquery-steps/jquery.steps.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="${base!}/static/libs/vendor/html5shiv.min.js"></script>
<script src="${base!}/static/libs/vendor/respond.min.js"></script>
<script src="${base!}/static/libs/vendor/excanvas.min.js"></script>
<![endif]-->
<style>
    /*.jstree {
        overflow-x:auto
    }*/
</style>
