<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志存储路径 -->
    <property name="LOG_LEVEL" value="DEBUG"></property>
    <property name="LOG_HOME" value="classpath:logs"></property>
    <property name="COMMON_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] [%-5level] %logger{36} -%msg%n"></property>

    <!-- 控制台附加器 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 输出日志格式 -->
        <encoder>
            <!-- %d日期 %thread线程名 %-5level日志级别 %logger{length}输出日志类名缩写 %msg日志输出内容 -->
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 文件附加器 -->
    <!--    <appender name="FILE_DUBBO" class="ch.qos.logback.core.FileAppender">-->
    <!--        <file>demo2-file.log</file>-->
    <!--    </appender>-->
    <!-- 滚动文件附加器 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当天生成的日志文件名称 -->
        <file>demo2.log</file>
        <!-- 根据时间来记录日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档日志文件名称 -->
            <FileNamePattern>${LOG_HOME}/demo2.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!-- 归档日志保存时间(天) -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_DUBBO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>demo2-dubbo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/demo2-dubbo.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.mybatis" level="INFO">
        <!-- 日志输出目的地 -->
        <appender-ref ref="STDOUT"></appender-ref>
    </logger>
    <logger name="org.apache.dubbo" level="WARN">
        <appender-ref ref="FILE_DUBBO"></appender-ref>
    </logger>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>

    <!--根root logger -->
    <root level="info">
        <appender-ref ref="STDOUT"></appender-ref>
        <appender-ref ref="FILE"></appender-ref>
    </root>

</configuration>
