<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.tutorial.test.dao.TeacherDao">
    <select id="getAllTeacher" parameterType="map" resultType="com.example.demo.tutorial.test.entity.Teacher">
        select *
        from teacher_tbl
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and `name` like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>
