<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <#include "*/common/html/pageHeader.html" />
</head>
<body>
<div class="m-main">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h3 class="panel-title">Echarts demo</h3>
        </header>
        <div class="panel-body">
            <div class="from-group">
                <div class="gp-chart" id="bar-chart"></div>
            </div>
        </div>
    </section>
</div>
<#include "*/common/html/pageFooter.html" />
<script src="${base!}/static/js/echarts/index.js" type="text/javascript"></script>
<script src="${base!}/static/libs/vendor/echarts.min.js" type="text/javascript"></script>
</body>
</html>
